[
    '<div>',
        '<div data-dojo-type="dijit.Dialog" title="{%= $._nlsResources.dlgCrystalReportConditionDetails_Title %}" dojoAttachPoint="_dialog" dojoAttachEvent="onCancel:_dialog_OnCancel, onShow:_dialog_OnShow" style="width: 300px">',
            '<div data-dojo-type="dijit.form.Form" style="overflow-x:hidden">',
                
                '<table cellspacing="10">',
                    
                    '<tr>',
                        '<td>',
                            '<label>{%= $._nlsResources.cmbConditionType_Caption %}:</label>',
                        '</td>',
                        '<td>',                            
                            '<select dojoType="dijit.form.Select" dojoAttachPoint="cmbConditionType" sortByLabel="false" dojoAttachEvent="onChange:_cmbConditionType_OnChange" style="width:150px" >',
                            '</select>',
                        '</td>',
                    '</tr>',

                    '<tr dojoAttachPoint="trCurrentUser">',
                        '<td>',
                            '&nbsp;',
                        '</td>',
                        '<td>',
                            '<input data-dojo-type="dijit.form.CheckBox" dojoAttachPoint="chkCurrentUser" dojoAttachEvent="onChange:_chkCurrentUser_OnChange" /> <label>{%= $._nlsResources.chkCurrentUser_Caption %}</label>',
                        '</td>',                        
                    '</tr>',
                    
                    '<tr dojoAttachPoint="trUser">',
                        '<td>',
                            '<label>{%= $._nlsResources.lkpUser_Caption %}:</label>',
                        '</td>',
                        '<td>',
                            '<div dojoType="dijit.layout.ContentPane" label="{%= $._nlsResources.lkpUser_Caption %}" dojoAttachPoint="contentPaneLkpUser" class="remove-padding lookup-container" style="width:300px; padding: 0px !important;"></div>',                            
                        '</td>',                        
                    '</tr>',

                    '<tr dojoAttachPoint="trGroup">',
                        '<td>',
                            '<label>{%= $._nlsResources.lkpGroup_Caption %}:</label>',
                        '</td>',
                        '<td>',
                            '<div dojoType="dijit.layout.ContentPane" label="{%= $._nlsResources.lkpGroup_Caption %}" dojoAttachPoint="contentPaneLkpGroup" class="remove-padding lookup-container" style="width:300px; padding: 0px !important;"></div>',                            
                        '</td>',
                    '</tr>',                                                       


                    '<tr dojoAttachPoint="trDateRange">',
                        '<td>',
                            '<label>{%= $._nlsResources.cmbDateRange_Caption %}:</label>',
                        '</td>',
                        '<td>',
                            '<select dojoType="dijit.form.Select" dojoAttachPoint="cmbDateRange" dojoAttachEvent="onChange:_cmbDateRange_OnChange" style="width:150px" >',
                                '<option value="DateRange">{%= $._nlsResources.cmbDateRange_SpecificDates_Caption %}</option>',
                                '<option value="ThisWeek">{%= $._nlsResources.cmbDateRange_ThisWeek_Caption %}</option>',
                                '<option value="ThisMonth">{%= $._nlsResources.cmbDateRange_ThisMonth_Caption %}</option>',
                                '<option value="ThisQuarter">{%= $._nlsResources.cmbDateRange_ThisQuarter_Caption %}</option>',
                                '<option value="ThisYear">{%= $._nlsResources.cmbDateRange_ThisYear_Caption %}</option>',
                                '<option value="LastWeek">{%= $._nlsResources.cmbDateRange_LastWeek_Caption %}</option>',
                                '<option value="LastMonth">{%= $._nlsResources.cmbDateRange_LastMonth_Caption %}</option>',
                                '<option value="LastQuarter">{%= $._nlsResources.cmbDateRange_LastQuarter_Caption %}</option>',
                                '<option value="LastYear">{%= $._nlsResources.cmbDateRange_LastYear_Caption %}</option>',
                                '<option value="MonthToDate">{%= $._nlsResources.cmbDateRange_MonthToDate_Caption %}</option>',
                                '<option value="QuarterToDate">{%= $._nlsResources.cmbDateRange_QuarterToDate_Caption %}</option>',
                                '<option value="YearToDate">{%= $._nlsResources.cmbDateRange_YearToDate_Caption %}</option>',
                            '</select>',
                        '</td>',
                    '</tr>',
                    '<tr dojoAttachPoint="trFromDate" >',
                        '<td>',
                            '<label>{%= $._nlsResources.dtFromDate_Caption %}:</label>',
                        '</td>',
                        '<td>',
                            '<div shouldPublishMarkDirty="false" dojoType="Sage.UI.Controls.DateTimePicker" dojoAttachPoint="dtFromDate" displayDate="true" displayTime="false" label="{%= $._nlsResources.dtFromDate_Caption %}" style="width:150px"></div>',
                        '</td>',
                    '</tr>',
                    '<tr dojoAttachPoint="trToDate" >',
                        '<td>',
                            '<label>{%= $._nlsResources.dtToDate_Caption %}:</label>',
                        '</td>',
                        '<td>',
                            '<div shouldPublishMarkDirty="false" dojoType="Sage.UI.Controls.DateTimePicker" dojoAttachPoint="dtToDate" displayDate="true" displayTime="false" label="{%= $._nlsResources.dtToDate_Caption %}" style="width:150px"></div>',
                        '</td>',
                    '</tr>',



                    '<tr dojoAttachPoint="trTable">',
                        '<td>',
                            '<label>{%= $._nlsResources.cmbTable_Caption %}:</label>',
                        '</td>',
                        '<td>',
                            '<select dojoType="dijit.form.Select" dojoAttachPoint="cmbTables" style="width:150px" data-dojo-props="maxHeight:100" dojoAttachEvent="onChange:_cmbTables_OnChange" >',
                            '</select>',
                        '</td>',
                    '</tr>',


                    '<tr dojoAttachPoint="trField">',
                        '<td>',
                            '<label>{%= $._nlsResources.cmbField_Caption %}:</label>',
                        '</td>',
                        '<td>',
                            '<select dojoType="dijit.form.Select" dojoAttachPoint="cmbFields" style="width:150px" data-dojo-props="maxHeight:100" dojoAttachEvent="onChange:_cmbFields_OnChange" >',
                            '</select>',
                        '</td>',
                    '</tr>',

                    '<tr dojoAttachPoint="trOperator">',
                        '<td>',
                            '<label>{%= $._nlsResources.cmbOperator_Caption %}:</label>',
                        '</td>',
                        '<td>',
                            '<select dojoType="dijit.form.Select" dojoAttachPoint="cmbOperators" sortByLabel="false" style="width:150px" dojoAttachEvent="onChange:_cmbOperators_OnChange" >',
                            '</select>',
                        '</td>',
                    '</tr>',

                    '<tr dojoAttachPoint="trStringValue1">',
                        '<td>',
                            '<label>{%= $._nlsResources.txtValue_Caption %}:</label>',
                        '</td>',
                        '<td>',
                            '<input type="text" dojoAttachPoint="txtStringValue1" required="false" dojoType="dijit.form.TextBox" style="width:150px" />',
                        '</td>',
                    '</tr>',  

                    '<tr dojoAttachPoint="trStringValue2">',
                        '<td>',
                            '<label>{%= $._nlsResources.txtValue2_Caption %}:</label>',
                        '</td>',
                        '<td>',
                            '<input type="text" dojoAttachPoint="txtStringValue2" required="false" dojoType="dijit.form.TextBox" style="width:150px" />',
                        '</td>',
                    '</tr>',  

                    '<tr dojoAttachPoint="trNumericValue1">',
                        '<td>',
                            '<label dojoAttachPoint="lblNumericValue1">{%= $._nlsResources.txtValue_Caption %}:</label>',
                        '</td>',
                        '<td>',
                            '<input type="text" dojoAttachPoint="txtNumericValue1" required="false" dojoType="Sage.UI.Controls.Numeric" style="width:150px" />',
                        '</td>',
                    '</tr>',  

                    '<tr dojoAttachPoint="trNumericValue2">',
                        '<td>',
                            '<label>{%= $._nlsResources.txtNumericValueTo_Caption %}:</label>',
                        '</td>',
                        '<td>',
                            '<input type="text" dojoAttachPoint="txtNumericValue2" required="false" dojoType="Sage.UI.Controls.Numeric" style="width:150px" />',
                        '</td>',
                    '</tr>',  

                    '<tr dojoAttachPoint="trDateValue1" >',
                        '<td>',
                            '<label>{%= $._nlsResources.dtFromDate_Caption %}:</label>',
                        '</td>',
                        '<td>',
                            '<div shouldPublishMarkDirty="false" dojoType="Sage.UI.Controls.DateTimePicker" dojoAttachPoint="dtDateValue1" displayDate="true" displayTime="true" label="{%= $._nlsResources.dtFromDate_Caption %}" style="width:150px"></div>',
                        '</td>',
                    '</tr>',
                    '<tr dojoAttachPoint="trDateValue2" >',
                        '<td>',
                            '<label>{%= $._nlsResources.dtToDate_Caption %}:</label>',
                        '</td>',
                        '<td>',
                            '<div shouldPublishMarkDirty="false" dojoType="Sage.UI.Controls.DateTimePicker" dojoAttachPoint="dtDateValue2" displayDate="true" displayTime="true" label="{%= $._nlsResources.dtToDate_Caption %}" style="width:150px"></div>',
                        '</td>',
                    '</tr>',

                    
                '</table>',
                
                '<div align="right" style="margin-top:10px">',
                    '<div data-dojo-type="dijit.form.Button"dojoAttachPoint="cmdOK" dojoAttachEvent="onClick:_cmdOK_OnClick">{%= $._nlsResources.cmdOK_Caption %}</div>',
                    '<div data-dojo-type="dijit.form.Button" dojoAttachPoint="cmdCancel" dojoAttachEvent="onClick:_cmdCancel_OnClick" style="margin-left:5px;">{%= $._nlsResources.cmdCancel_Caption %}</div>',
                '</div>',
            '</div>',
        '</div>',
    '</div>'
]