<table style="padding-bottom:5px; width:100%">
    <colgroup>
        <col style="width:45%" />
        <col style="width:10%" />
        <col style="width:45%" />
    </colgroup>
    <tr>
        <td>
            <label for="values" style="font-weight:bold" >${promptText}</label>
        </td>
        <td></td>
        <td>
            <label style="font-weight:bold">${parameterFieldName}</label>
        </td>
    </tr>
    <tr>
        <td colspan="3">
            <div style="border-bottom: 1px solid #B5BCC7"></div>
        </td>
    </tr>
</table>
