[
'<div>',
    '<div data-dojo-type="dijit.Dialog" title="{%= $.dialogTitleText %}" dojoAttachPoint="_dialog" dojoAttachEvent="onCancel:_close">',
        '<div data-dojo-type="dijit.form.Form" id="{%= $.id %}_frmContactUserAssociation">',
            '<table cellspacing="20">',
                '<tr>',
                    '<td colspan="2">',
                        '<label>{%= $.associateContactText %}</label>',
                    '</td>',
                '</tr>',
                '<tr>',
                    '<td>',
                        '<div>',
                            '<label>{%= $.user_Caption %}</label>',
                        '</div>',
                    '</td>',
                    '<td>',
                         '<div dojoAttachPoint="divContactLookupContainer">',
                            '<div data-dojo-type="dijit.layout.ContentPane" label="{%= $.update_To_Caption %}" id="{%= $.id %}_luAccountMgr" dojoAttachPoint="contactLookup_Container" allowClearingResult="false" class="removePadding"></div>',
                        '</div>',
                    '</td>',
                '</tr>',            
            
            '</table>',
            '<div class="button-bar" align="right">',
                '<div data-dojo-type="dijit.form.Button" id="{%= $.id%}_btn_OK" name="btn_OK" dojoAttachPoint="btn_OK" dojoAttachEvent="onClick:_okClick">{%= $.btnOK_Caption %}</div>',
                '<div data-dojo-type="dijit.form.Button" id="{%= $.id%}_btn_Cancel" name="btn_Cancel" dojoAttachPoint="btn_Cancel" dojoAttachEvent="onClick:_close">{%= $.btnCancel_Caption %}</div>',
            '</div>',
        '</div>',
    '</div>',
'</div>'
]
