<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="sage.platform.configuration.default-configuration-source" value="Sage.Platform.Scheduling.ConfigurationSource, Sage.Platform" />
  <add key="nhibernate-logger" value="Sage.Platform.Log4NetLoggerFactory, Sage.Platform" />
  <add key="sage.platform.application.caching.cacheProvider" value="Sage.Platform.Caches.Memcached.CacheProvider, Sage.Platform.Caches.Memcached" />
</appSettings>