<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="scheduling" type="Sage.Scheduling.Configuration.SchedulingSection, Sage.Scheduling" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <sectionGroup name="sage.platform">
      <section name="Sage.Platform.Caches.Memcached" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching" />
    </sectionGroup>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
  </configSections>
  <appSettings configSource="appSettings.config" />
  <scheduling configSource="scheduling.config" />
  <log4net configSource="log4net.config" />
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Quartz" publicKeyToken="f6b8c98a402cc8a4" />
        <bindingRedirect oldVersion="0.0.0.0-2.3.3.0" newVersion="2.3.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <sage.platform>
    <Sage.Platform.Caches.Memcached protocol="Binary">
      <servers>
        <add address="127.0.0.1" port="11211" />
      </servers>
      <socketPool connectionTimeout="00:00:02" deadTimeout="00:00:10" />
      <performanceMonitor factory="Enyim.Caching.Memcached.DefaultPerformanceMonitorFactory, Enyim.Caching" name="SlxJobService" />
    </Sage.Platform.Caches.Memcached>
  </sage.platform>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net1210">
        <arg key="configType" value="EXTERNAL" />
      </factoryAdapter>
    </logging>
  </common>
</configuration>