[
'<div>',
	'<div data-dojo-type="dijit.Dialog" dojoattachpoint="_dialog" style="width:60%;">',
        '<div data-dojo-type="dijit.form.Form" dojoattachpoint="addEditFiltersForm" class="FManagerDialogForm" >',
            '<div class="mainContentContent">',
		        '<table class="detailTableContainer formtable" style="width:100%">',
		
			        '<colgroup>',
                        '<col style="width:100%" />',
			        '</colgroup>',
			
			        '<tr dojoattachpoint="_filterNameSection">',
				        '<td class="FManagerDialogFieldLabel">',
						    '<div style="padding:0 !important;" class="lbl alignright width110"  >',
                                '<label style="line-height:32px !important;" dojoattachpoint="lblFilterName">',
                                '</label>',
						    '</div>',
					        '<div class="fld  dijitInline" dojoattachpoint="filterName" />',
				        '</td>',
			        '</tr>',
			        '<tr dojoattachpoint="_displayNameSection">',
				        '<td class="FManagerDialogFieldLabel">',
						    '<div style="padding:0 !important;" class="lbl alignright width110"  >',
                                '<label style="line-height:32px !important;" dojoattachpoint="lblDisplayName">',
                                '</label>',
						    '</div>',
					        '<div class="fld dijitInline" dojoattachpoint="displayName" />',
				        '</td>',
			        '</tr>',
			        '<tr dojoattachpoint="_TypeDropDownSection">',
				        '<td class="FManagerDialogFieldLabel">',
						    '<div style="padding:0 !important;" class="lbl alignright width110"  >',
                                '<label style="line-height:32px !important;" dojoattachpoint="lblTypeDp">',
                                '</label>',
						    '</div>',
					        '<div class="fld dijitInline" dojoattachpoint="typeDp" />',
				        '</td>',
			        '</tr>',
			        '<tr dojoattachpoint="_filterDropDownSection">',
                        '<td class="FManagerDialogFieldLabel">',
						    '<div style="padding:0 !important;" class="lbl alignright width110"  >',
                                '<label style="line-height:32px !important;" dojoattachpoint="lblFilterDp">',
                                '</label>',
						    '</div>',
                            '<div class="fld propertyDiv dijitInline" dojoattachpoint="propertyDiv" >',
                                '<input data-dojo-type="dijit.form.ValidationTextBox" data-dojo-props="required: true" dojoattachpoint="entitySelected" class="entitySelected" />',
                                '<div style="" data-dojo-type="dijit.form.Button" iconclass="myIcon" dojoattachevent="onClick:_showDDTree" class="transparentDropDown" dojoattachpoint="transparentDropDown" />',
                            '</div>',
                        '</td>',
			        '</tr>',
		        '</table>',
                '<div dojoattachpoint="_TypeSpecificDetailsSection">',
                '</div>',
				'<div dojoattachpoint="divValidationMessage" class="errorText">',
                     '<span dojoattachpoint="spanValidationMessage">&nbsp;</span>',
                 '</div>',
            '</div>',
            '<div>',
                '<div class="lookupButtonWrapper">',                    
                    '<span data-dojo-type="dijit.form.Button" dojoattachpoint="cmdSave" dojoattachevent="onClick:_cmdSave_OnClick"></span>',
                    '<span data-dojo-type="dijit.form.Button" dojoattachpoint="cmdCancel" dojoattachevent="onClick:_cmdCancel_OnClick"></span>',
                '</div>',
            '</div>',
        '</div>',
	'</div>',
'</div>'
 ]