[
'<div>',
     '<div dojoattachpoint="characterContainer" >',
     '</div>',	
     '<table class="detailTableContainer" style="width:100%">',
        '<tr>',
             '<td class="FManagerDialogFieldLabel">',
                '<div style="padding:0 !important;" class="lbl alignright dijitInline width110">&nbsp</div>',
                '<div class="fld dijitInline rangegridwhole" dojoattachpoint="rangegridwhole">',
                    '<div data-dojo-attach-point="containerNode" class="dijit dijitToolbar list-panel-tbar right-tools dijitaligntop" role="toolbar">',
                        '<span dojoattachpoint="labelSection"class="dijitToolbarLabel list-panel-left-tools">',
                        '</span>',
                        '<span dojoattachpoint="rangeGridToolbarContainer" class=" dijit dijitReset dijitInline list-panel-tool-help dijitButton">',
                        '</span>',
                    '</div>',
                    '<div dojoattachpoint="recordCountLabel" class="alignright dgridRecordLabel">',
                    '</div>',
                    '<div dojoattachpoint="rangeGridContainer"class="FManagerDialogFromGrid">',
                    '</div>',
                '</div>',
             '</td>',
        '</tr>',
    '</table>',
'</div>'
]
