[
'<div>',    
    '<div dojoattachpoint="aggregate">',
    '</div>',	
    '<table class="detailTableContainer"  style="width:100%">',
        '<colgroup>',
            '<col style="width:100%" />',
        '</colgroup>',
        '<tr dojoattachpoint="_MetricsFromSection">',
            '<td class="FManagerDialogFieldLabel">',
    		    '<div style="padding:0 !important;" class="lbl alignright width110"  >',
                    '<label style="line-height:32px !important;" dojoattachpoint="lblMetricRangeFrom">',
                    '</label>',
			    '</div>',
                '<div class="fld propertyDiv dijitInline" dojoattachpoint="propertyDiv" >',
                    '<input data-dojo-type="dijit.form.ValidationTextBox" data-dojo-props="required: true" dojoattachpoint="propertyDpButtonFrom" class="propertyDpButtonFrom FManagerDialogTextBox" />',
                    '<div style="" data-dojo-type="dijit.form.Button" iconclass="myIcon" dojoattachevent="onClick:_showDDFrom" class="transparentDropDown" dojoattachpoint="transparentDropDown" />',
                '</div>',
            '</td>',
        '</tr>',
        '<tr dojoattachpoint="_MetricsToSection">',
            '<td class="FManagerDialogFieldLabel">',
				'<div style="padding:0 !important;" class="lbl alignright width110"  >',
                    '<label style="line-height:32px !important;" dojoattachpoint="lblMetricRangeTo">',
                    '</label>',
			    '</div>',
                '<div class="fld propertyDiv dijitInline" dojoattachpoint="propertyDiv" >',
                    '<input data-dojo-type="dijit.form.ValidationTextBox" data-dojo-props="required: true" dojoattachpoint="propertyDpButtonTo" class="propertyDpButtonTo FManagerDialogTextBox" />',
                    '<div style="" data-dojo-type="dijit.form.Button" iconclass="myIcon" dojoattachevent="onClick:_showDDTo" class="transparentDropDown" dojoattachpoint="transparentDropDown" />',
                '</div>',
            '</td>',
        '</tr>',
    '</table>',
'</div>'
]
