[
'<div>',
    '<table class="detailTableContainer formtable" style="width:100%">',
        '<tr dojoattachpoint="_filterDetailsSection">',
            '<td class="FManagerDialogFieldLabel">',
				'<div style="padding:0 !important;" class="lbl alignright width110"  >',
                    '<label style="line-height:32px !important;" dojoattachpoint="lblEntityFiltersDetailsContains">',
                    '</label>',
			    '</div>',
                '<div class="fld dijitInline" dojoattachpoint="txtEntityFiltersDetailsContains" />',
            '</td>',
        '</tr>',
    '</table>',
'</div>'
 ]