<div>
    <div dojoattachpoint="promptParameterContainer" class="crystalParameterContainer">
        <div dojoattachpoint="paramsHeaderContainer"></div>
        <div>
            <div dojotype="dijit.form.FilteringSelect" data-dojo-attach-point="cmbValues" style="width:40%"></div>
            <span dojoAttachPoint="errorInvalidOption" class="display-none" style="color:red">*</span>
        </div>
        <div dojoattachpoint="divValidationMessage" style="color:red">
            <span dojoattachpoint="spanValidationMessage">&nbsp;</span>
        </div>
    </div>
    <div>
        <br />
    </div>
</div>