    '<div dojoType="dijit.layout.ContentPane"  title="{%= $._crystalReportScheduleEditorNlsResources.tabParameters_Caption %}" class="tabContent remove-padding" dojoAttachPoint="contentPaneParameters">',
    
        '<table data-dojo-type="dojox.grid.DataGrid" dojoAttachPoint="grdValues">',
            '<thead>',
                '<th field="caption" width="100px">Caption</th>',
                '<th field="value" width="100px">Value</th>',
            '</thead>',
        '</table>',
        
        '</div>',


    '<div dojoType="dijit.layout.ContentPane"  title="{%= $._crystalReportScheduleEditorNlsResources.tabConditions_Caption %}" class="tabContent remove-padding" dojoAttachPoint="contentPaneConditions">',
                        
        '<table cellspacing="5">',
            '<tr>',
                '<td>',
                    '<label>{%= $._crystalReportScheduleEditorNlsResources.txtShowRecordsThatMatch %}</label>',
                '</td>',
                '<td>',
                    '<select dojoType="dijit.form.Select" dojoAttachPoint="cmbConditionPresets" sortByLabel="false" dojoAttachEvent="onChange:_cmbConditionPresets_OnChange" style="width:150px" >',
                    '</select>',
                '</td>',
            '</tr>',                   
            '<tr dojoAttachPoint="trConnector" class="display-none">',
                '<td>',
                    '<label>{%= $._crystalReportScheduleEditorNlsResources.txtMatch %}</label>',
                '</td>',
                '<td>',
                    '<select dojoType="dijit.form.Select" dojoAttachPoint="cmbConnector" style="width:150px" >',
                        '<option value="Or">{%= $._crystalReportScheduleEditorNlsResources.txtAny %}</option>',
                        '<option value="And">{%= $._crystalReportScheduleEditorNlsResources.txtAll %}</option>',
                    '</select>',
                    '<label>&nbsp;{%= $._crystalReportScheduleEditorNlsResources.txtOfTheFollowingConditions %}</label>',
                '</td>',
            '</tr>',
        '</table>',

            '<div dojoType="dijit.Toolbar" dojoAttachPoint="tbConditions" region="top" splitter="false" class="right-tools" >',
                '<span dojoType="Sage.UI.ImageButton" icon="{%= $._btnPlusIconPath %}" title="{%= $._crystalReportScheduleEditorNlsResources.btnAddCondition_Caption %}" dojoAttachEvent="onClick:_btnAddCondition_Click" dojoAttachPoint="btnAddCondition"></span>',
            '</div>',                                  
            '<div id="divGrdCrystalConditions" style="width:100%;height:80%;" >',            
                '<table data-dojo-type="dojox.grid.DataGrid" dojoAttachPoint="grdCrystalConditions" id="grdCrystalConditions" formatterScope="Sage.MainView.ReportMgr.Crystal.CrystalReportsFormatter">',
                    '<thead>',
                        '<th field="conditionType" width="60px" formatter="formatConditionType" >{%= $._crystalReportScheduleEditorNlsResources.grdCrystalConditions_ConditionType_Caption %}</th>',
                        '<th field="tableName" width="100px">{%= $._crystalReportScheduleEditorNlsResources.grdCrystalConditions_TableName_Caption %}</th>',
                        '<th field="fieldName" width="100px">{%= $._crystalReportScheduleEditorNlsResources.grdCrystalConditions_FieldName_Caption %}</th>',
                        '<th field="operator" formatter="formatOperator" width="75px">{%= $._crystalReportScheduleEditorNlsResources.grdCrystalConditions_Operator_Caption %}</th>',
                        '<th field="_item" formatter="formatConditionValue" width="125px">{%= $._crystalReportScheduleEditorNlsResources.grdCrystalConditions_Value_Caption %}</th>',
                        '<th field="value" formatter="formatEditCondition" width="40px">&nbsp;</th>',
                        '<th field="_item" formatter="formatDeleteCondition" width="40px">&nbsp;</th>',
                    '</thead>',
                '</table>',
            '</div>',

    '</div>'

