[
'<div>',
    '<table>',
        '<col style="width:180px" />',
        '<col style="width:400px" />',
        '<tr id="{%= $.id %}_ScheduleDetailSummary_txtScheduleName">',
            '<td>{%= $.txtScheduleName_Caption || "Schedule:" %} </td>',
            '<td class="DataItem">{%= Sage.Utility.htmlEncode($.entity.$descriptor) %}</td>',
        '</tr>',
        '<tr id="{%= $.id %}_ScheduleDetailSummary_txtJobName">',
            '<td>{%= $.txtJobName_Caption || "Job Name:" %} </td>',
            '<td class="DataItem">{%= $.entity.job ? Sage.Utility.htmlEncode($.entity.job.$descriptor) : "" %}</td>',
        '</tr>',
        '<tr id="{%= $.id %}_ScheduleDetailSummary_txtUser">',
            '<td>{%= $.txtUser_Caption || "Scheduled By:" %} </td>',
            '<td class="DataItem">{%= $.entity.user ? Sage.Utility.htmlEncode($.entity.user.$descriptor) : "" %}</td>',
        '</tr>',
        '<tr id="{%= $.id %}_ScheduleDetailSummary_txtRunAsUser">',
            '<td>{%= $.txtRunAsUser_Caption || "Run As:" %}</td>',
            '<td class="DataItem">{%= Sage.Utility.htmlEncode(Sage.Utility.Jobs.getParameterRunAsUser($.entity.parameters)) %}</td>',
        '</tr>',
        '<tr id="{%= $.id %}_ScheduleDetailSummary_txtStartTime">',
            '<td>{%= $.txtStartTime_Caption || "Start Time:" %}</td>',
            '<td class="DataItem">{%= Sage.Utility.Jobs.formatDate($.entity.startTimeUtc) %}</td>',
        '</tr>',
        '<tr id="{%= $.id %}_ScheduleDetailSummary_txtEndTime">',
            '<td>{%= $.txtEndTime_Caption || "End Time:" %}</td>',
            '<td class="DataItem">{%= Sage.Utility.Jobs.formatDate($.entity.endTimeUtc) %}</td>',
        '</tr>',
        '<tr id="{%= $.id %}_ScheduleDetailSummary_txtNextRunTime">',
            '<td>{%= $.txtNextRunTime_Caption || "Next Run Time:" %}</td>',
            '<td class="DataItem">{%= Sage.Utility.Jobs.formatDate($.entity.nextFireTimeUtc) %}</td>',
        '</tr>',
        '<tr id="{%= $.id %}_ScheduleDetailSummary_txtRepeatCount">',
            '<td>{%= $.txtRepeatCount_Caption || "Repeat Count:" %}</td>',
            '<td class="DataItem">{%= Sage.Utility.Jobs.formatRepeatCount($.entity.repeatCount) %}</td>',
        '</tr>',
        '<tr id="{%= $.id %}_ScheduleDetailSummary_txtRepeatInterval">',
            '<td>{%= $.txtRepeatInterval_Caption || "Repeat Interval:" %}</td>',
            '<td class="DataItem">{%= Sage.Utility.htmlEncode($.entity.repeatInterval) %}</td>',
        '</tr>',
        '<tr id="{%= $.id %}_ScheduleDetailSummary_txtPriority">',
            '<td>{%= $.txtPriority_Caption || "Priority:" %}</td>',
            '<td class="DataItem">{%= Sage.Utility.htmlEncode($.entity.priority) %}</td>',
        '</tr>',
        '<tr id="{%= $.id %}_ScheduleDetailSummary_txtStatus">',
            '<td>{%= $.txtStatus_Caption || "Status:" %}</td>',
            '<td class="DataItem">{%= Sage.Utility.htmlEncode($.entity.status) %}</td>',
        '</tr>',
        '<tr id="{%= $.id %}_ScheduleDetailSummary_txtExecutionCount">',
            '<td>{%= $.txtExecutionCount_Caption || "Execution Count:" %}</td>',
            '<td class="DataItem">{%= Sage.Utility.htmlEncode($.entity.timesTriggered) %}</td>',
        '</tr>',
    '</table>',
'</div>'
]