[
'<div>',
    '<table>',
        '<col style="width:180px" />',
        '<col style="width:400px" />',
        '<tr id="{%= $.id %}_ExecutionDetailSummary_txtJobId">',
            '<td>{%= $.txtJobName_Caption || "Type:" %} </td>',
            '<td class="DataItem">{%= $.entity.job ? Sage.Utility.htmlEncode($.entity.job.$descriptor) : "" %}</td>',
        '</tr>',
        '<tr>',
            '<td>{%= $.txtUser_Caption || "User:" %} </td>',
            '<td class="DataItem">{%= $.entity.user ? Sage.Utility.htmlEncode($.entity.user.$descriptor) : "" %}</td>',
        '</tr>',
        '<tr id="{%= $.id %}_ExecutionDetailSummary_txtTriggerId">',
            '<td>{%= $.txtTriggerId_Caption || "Schedule:" %} </td>',
            '<td class="DataItem">{%= Sage.Utility.htmlEncode(Sage.Utility.Jobs.getTriggerDescription($.entity.trigger)) %}</td>',
        '</tr>',
        '<tr id="{%= $.id %}_ExecutionDetailSummary_txtScheduledStartTime">',
            '<td>{%= $.txtScheduledStartTime_Caption || "Scheduled Start Time:" %}</td>',
            '<td class="DataItem">{%= Sage.Utility.Jobs.formatDate($.entity.scheduledFireTimeUtc) %}</td>',
        '</tr>',
        '<tr id="{%= $.id %}_ExecutionDetailSummary_txtStartTime">',
            '<td>{%= $.txtStartTime_Caption || "Start Time:" %}</td>',
            '<td class="DataItem">{%= Sage.Utility.Jobs.formatDate($.entity.fireTimeUtc) %}</td>',
        '</tr>',
        '<tr id="{%= $.id %}_ExecutionDetailSummary_txtPhase">',
            '<td>{%= $.txtPhase_Caption || "Phase:" %}</td>',
            '<td class="DataItem">{%= Sage.Utility.htmlEncode($.entity.phase) %}</td>',
        '</tr>',
        '<tr id="{%= $.id %}_ExecutionDetailSummary_txtPhaseDetail">',
            '<td>{%= $.txtPhaseDetail_Caption || "Phase Detail:" %}</td>',
            '<td class="DataItem">{%= Sage.Utility.htmlEncode($.entity.phaseDetail) %}</td>',
        '</tr>',
        '<tr id="{%= $.id %}_ExecutionDetailSummary_txtProgress">',
            '<td>{%= $.txtProgress_Caption || "Progress:" %}</td>',
            '<td>',
                '<div data-dojo-type="dijit.ProgressBar" data-dojo-props="maximum: 100, value: {%= $.entity.progress || 0 %}"></div>',
            '</td>',
        '</tr>',
            '<td>{%= $.txtElapsedTime_Caption || "Elapsed Time:" %}</td>',
            '<td class="DataItem">{%= Sage.Utility.Jobs.formatElapsedTime($.entity.elapsed)%}</td>',
        '</tr>',
        '<tr id="{%= $.id %}_ExecutionDetailSummary_txtRemainingTime">',
            '<td>{%= $.txtRemainingTime_Caption || "Remaining Time:" %}</td>',
            '<td class="DataItem">{%= Sage.Utility.htmlEncode($.entity.remaining) %}</td>',
        '</tr>',
            '<td>{%= $.txtStatus_Caption || "Status:" %}</td>',
            '<td class="DataItem">{%= Sage.Utility.htmlEncode($.entity.status) %}</td>',
        '</tr>',
        '<tr id="{%= $.id %}_ExecutionDetailSummary_txtResult">',
            '<td>{%= $.txtResult_Caption || "Result:" %}</td>',
             '<td class="DataItem"><div>{%= Sage.Utility.Jobs.formatJob($.entity) %}</div></td>',
        '</tr>',
    '</table>',
'</div>'
]