[
  '<div>',
      '<table>',
      '    <col style="width:200px" />',
      '    <col style="width:400px" />',
      '                <tr id="{%= $.id %}_HistoryDetailSummary_txtScheduleName">',
      '                    <td class="SummaryCaption">{%= $.txtScheduleName_Caption || "Description:" %}</td>',
      '                    <td class="DataItem">{%= Sage.Utility.htmlEncode($.entity.ScheduleName) %}</td>',
      '                </tr>',
      '                <tr id="{%= $.id %}_HistoryDetailSummary_txtCreateDate">',
      '                    <td class="SummaryCaption">{%= $.txtCreateDate_Caption || "Create Date:" %} </td>',
      '                    <td class="DataItem">{%= Sage.Utility.htmlEncode(Sage.MainView.ReportMgr.ReportManagerFormatter.formatDate($.entity.CreateDate)) %}</td>',
      '                </tr>',
      '                <tr id="{%= $.id %}_HistoryDetailSummary_txtReportType">',
      '                    <td class="SummaryCaption">{%= $.txtReportType_Caption || "Report Type:" %} </td>',
      '                    <td class="DataItem">{%= Sage.MainView.ReportMgr.ReportManagerFormatter.formatReportType($.entity.ReportType) %}</td>',
      '                </tr>',
      '                <tr id="{%= $.id %}_HistoryDetailSummary_txtOutputFormat">',
      '                    <td class="SummaryCaption">{%= $.txtOutputFormat_Caption || "Output Format:" %}</td>',
      '                    <td class="DataItem">{%= Sage.Utility.htmlEncode($.entity.DocumentType) %}</td>',
      '                </tr>',
      '                <tr id="{%= $.id %}_HistoryDetailSummary_txtScheduledBy">',
      '                    <td class="SummaryCaption">{%= $.txtScheduledBy_Caption || "Scheduled By:" %}</td>',
      '                    <td class="DataItem">{%= Sage.Utility.htmlEncode($.entity.ScheduledBy.$descriptor) %}</td>',
      '                </tr>',
      '                <tr id="{%= $.id %}_HistoryDetailSummary_txtRunAsUser">',
      '                    <td class="SummaryCaption">{%= $.txtRunAsUser_Caption || "Run As:" %}</td>',
      '                    <td class="DataItem">{%= Sage.Utility.htmlEncode($.entity.RunAs.$descriptor) %}</td>',
      '                </tr>',
      '                <tr id="{%= $.id %}_HistoryDetailSummary_txtExecutionType">',
      '                    <td class="SummaryCaption">{%= $.txtExecutionType_Caption || "Execution Type:" %} </td>',
      '                    <td class="DataItem">{%= Sage.MainView.ReportMgr.ReportManagerFormatter.formatExecutionType($.entity.ExecutionType) %}</td>',
      '                </tr>',
      '                <tr id="{%= $.id %}_HistoryDetailSummary_txtFileSize">',
      '                    <td class="SummaryCaption">{%= $.txtFileSize_Caption || "File Size:" %}</td>',
      '                    <td class="DataItem">{%= Sage.MainView.ReportMgr.ReportManagerFormatter.formatFileSize($.entity.FileSize) %}</td>',
      '                </tr>',
      '                <tr id="{%= $.id %}_HistoryDetailSummary_txtElapsedTime">',
      '                    <td class="SummaryCaption">{%= $.txtElapsedTime_Caption || "Elapsed Time:" %}</td>',
      '                    <td class="DataItem">{%= Sage.Utility.htmlEncode(Sage.MainView.ReportMgr.ReportManagerFormatter.formatElapsedTime($.entity.ElapsedTimeInSeconds)) %}</td>',
      '                </tr>',
      '</table>',
    '</div>'
]