[
  '<table style="width:100%">',
  '    <tbody>',
  '    <col style="width:200px" />',
  '    <col style="width:400px" />',
  '    <tr>',
  '        <td>',
  '            <table>',
  '                <tr id="{%= $.id %}_ScheduleDetailSummary_txtScheduleName">',
  '                    <td class="SummaryCaption">{%= $.txtScheduleName_Caption || "Schedule:" %} </td>',
  '                    <td class="DataItem">{%= Sage.Utility.htmlEncode($.entity.$descriptor) %}</td>',
  '                </tr>',
  '                <tr id="{%= $.id %}_ScheduleDetailSummary_txtDescription">',
  '                    <td class="SummaryCaption">{%= $.txtDescription_Caption || "Description:" %} </td>',
  '                    <td class="DataItem">{%= Sage.Utility.htmlEncode($.entity.job.$descriptor) %}</td>',
  '                </tr>',
  '                <tr id="{%= $.id %}_ScheduleDetailSummary_txtReportName">',
  '                    <td class="SummaryCaption">{%= $.txtReportName_Caption || "Report:" %} </td>',
  '                    <td class="DataItem">{%= Sage.Utility.htmlEncode(Sage.MainView.ReportMgr.ReportManagerFormatter.formatTemplateName($.entity.parameters)) %}</td>',
  '                </tr>',
  '                <tr id="{%= $.id %}_ScheduleDetailSummary_txtScheduledBy">',
  '                    <td class="SummaryCaption">{%= $.txtScheduledBy_Caption || "Scheduled By:" %}</td>',
  '                    <td class="DataItem">{%= Sage.Utility.htmlEncode($.entity.user.$descriptor) %}</td>',
  '                </tr>',
  '                <tr id="{%= $.id %}_ScheduleDetailSummary_txtRunAsUser">',
  '                    <td class="SummaryCaption">{%= $.txtRunAsUser_Caption || "Run As:" %}</td>',
  '                    <td class="DataItem">{%= Sage.Utility.htmlEncode(Sage.MainView.ReportMgr.ReportManagerFormatter.getParameterRunAsUser($.entity.parameters)) %}</td>',
  '                </tr>',
  '                <tr id="{%= $.id %}_ScheduleDetailSummary_txtOutputFormat">',
  '                    <td class="SummaryCaption">{%= $.txtOutputFormat_Caption || "Output Format:" %}</td>',
  '                    <td class="DataItem">{%= Sage.Utility.htmlEncode(Sage.MainView.ReportMgr.ReportManagerFormatter.formatOutputFormat($.entity)) %}</td>',
  '                </tr>',
  '                <tr id="{%= $.id %}_ScheduleDetailSummary_txtLastExecutionDate">',
  '                    <td class="SummaryCaption">{%= $.txtLastExecutionDate_Caption || "Last Run:" %}</td>',
  '                    <td class="DataItem">{%= Sage.Utility.htmlEncode(Sage.MainView.ReportMgr.ReportManagerFormatter.formatDate($.entity.previousFireTimeUtc)) %}</td>',
  '                </tr>',
  '                <tr id="{%= $.id %}_ScheduleDetailSummary_txtExecutionCount">',
  '                    <td class="SummaryCaption">{%= $.txtExecutionCount_Caption || "Execution Count:" %}</td>',
  '                    <td class="DataItem">{%= Sage.Utility.htmlEncode($.entity.timesTriggered) %}</td>',
  '                </tr>',
  '            </table>',
  '        </td>',
  '      </tr>',
  '   </tbody>',
  '</table>'
]